@import url('https://fonts.googleapis.com/css2?family=Merriweather&display=swap');
body{
    padding: 0;
    margin: 0;
    background-color: #bae5e5;
}
.imageOne{
    padding-top: 10px;
    border-radius: 50%;
}
.column{
    width: 25%;
    float: left;
}
.row:after{
    content: "";
    display: table;
    clear: both;
}
.card{
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    max-width:300px;
    margin: auto;
    background-color:white;
    text-align: center;
    border-radius: 40px;
    padding-bottom: 15px;
}
.title
{
    color: gray;
    font-size: 18px;
}
button{
    border: none;
    padding: 8px;
    display: inline-block;
    color: white;
    background-color: black;
    cursor: pointer;
    width: 70%;
    border-radius: 20px;
    font-size: 18px;
    text-align: center;
}
a{
    text-decoration: none;
    font-size: 22px;
    color: black;
}
a:hover, button:hover{
    opacity: 0.6;
}
/*Responsivness*/
 @media(max-width:1279px){
    .column{
        width: 33.3333333333%;
    }
    .last{
        margin-top: 20px;
    }
} 
@media(max-width:934px){
    .column{
        width:45%;
    }
    .last{
        margin-top: 20px;
    }
}
@media(max-width:718px){
    .column{
        width: 100%;
        display: block;
        margin-bottom: 20px;
    }
}
@media(max-width:340px){
    .card{
        width: 250px;
    }
}
@media(max-width:271px){
    .card{
        width: 200px;
    }
    image{
        width: 100px;
        height: 100px;
    }
}
@media(max-width:213px){
    .card{
        width: 150px;
    }
    image{
        width: 70px;
        height: 70px;
    }
    button{
        width: 70px;
    }
}